<html>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>

  <head>
      <meta charset="utf-8">
      <title>Event List</title>
  </head>


<body>
  <h1>Event List</h1>

  <a href="/"><button> Home </button></a>
  <a href="/event_form"><button> Add Event </button></a>

  <div>
    <table>
        <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Date</th>
            <th></th>
            <th></th>
        </tr>
        {% for event in data %}
            <tr>
                <td><p>{{event['name']}}</p></td>
                <td><p>{{event['location']}}</p></td>
                <td><p>{{event['date']}}</p></td>
                <td><a href="{{ url_for('event_attendance', eid=event['eid']) }}"><button>Attendance</button></a></td>
                <td><a href="{{ url_for('edit_event', eid=event['eid']) }}"><button>Edit</button></a></td>
                <td>
                    <form action="{{ url_for('delete_event', eid=event['eid']) }}" method="post">
                        <button name="delete" value="delete">Delete</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
  </div>

</body>


</html>