<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <title>Add Person</title>
  </head>
  <body>
      <h1>Add Person</h1>
      <a href="/participant_list"><button> Back to Participant List </button></a>

      <form action="{{ url_for('add_person') }}" method="post">
          <h5>Enter the Participant's Details</h5>
          <div>
              <input type="text" name="first" placeholder="First Name">
          </div>
          <div>
              <input type="text" name="last" placeholder="Last Name">
          </div>
          <div>
              <input type="text" name="school" placeholder="School">
          </div>
          <div>
              <button >Submit</button>
          </div>
      </form>
  </body>

</html>